@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


body, html, #__next {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #260226;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;

  }
  
}


.htmlCertificate {
  position: fixed;

  /* top: 70%; */
  /* left: 50%; */
  opacity: 0.0;
  color: #fbfbfb;
  /* border: 2px solid rgb(1, 255, 242); */
  border-radius: 5px;
  padding: 10px;
  font-size: larger;
  /* justify-content: flex-end; */
  /* transform: translate(36%,178%); */
  transition: top all opacity 1s;
  width: 100%;
  height: 100%;
  

}

.htmlCertificate.visible {
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-align: left;
  z-index: 1000;
  /* top: 70%; */
  /* left: 50%; */
  opacity: 0.9;
  color: #fbfbfb;
  /* border: 2px solid rgb(1, 255, 242); */
  border-radius: 5px;
  padding: 10px;
  font-size: larger;
  /* justify-content: flex-end; */
  /* transform: translate(36%,178%); */
  width: 100%;
  transition: ease-in 1s;


}